@{
    ViewBag.Title = "Get in touch with us";
}
<div style="align-content:center">

    <h3 style="color:#0094ff">@ViewBag.Title</h3>
    <h3>@ViewBag.Message</h3>

</div>

<address>
    18-160 Rue De Londres<br />
    Gatineau, QC<br />
    Telephone: (819) 383-1411 <br />
    <strong>Email:</strong>   <a href="mailto:h.skaiky89@gmail.com">h.skaiky89gmail.com</a><br />
</address>

