@{
    ViewBag.Title = "Skaiky HR Solutions";
}

<div class="jumbotron">
    <h2 style="color:#0094ff">HR Software</h2>
    <p class="lead">Welcome to Skaiky Solutions.</p>
    <hr class="my-4">
    <div class="alert alert-warning" role="alert">
        <p><h5> To download the source code please click on the download button.</h5></p>
    </div>
    <p><a href="https://github.com/skai0001/HR_System.git" class="btn btn-primary btn-lg">Download &raquo;</a></p>
</div>

